<li>
          <div class = "dropdown">
            <span id = "extraInfo" class = "glyphicon glyphicon-cog" data-toggle="dropdown"></span>
            <ul class="dropdown-menu pull-right" role="menu" style = "margin-right: 10px;">
              <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" data-toggle="modal" data-target=".helpModal">Help</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" >My Profile</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" >Account Settings</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" style = "cursor: pointer;" >Log Out</a></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a id = "creditsBtn" role="menuitem" tabindex="-1" style = "cursor: pointer;"  data-toggle="modal" data-target="#creditsModal">Credits</a></li>
            </ul>
          </div>
        </li>