<div class = "container" style = "height: 100%">
	<div id = "userSearchListContainer" style = "margin-top: 70px; border-radius: 5px; width: 10px; height: 10px; background-color: rgba(66, 139, 202, 0.3); padding: 0; margin-left: auto; margin-right: auto; overflow: hidden; position: relative; ">
		<div id = "userCol1" class = "col-xs-6" style = "height: 100%;">
			<% index = 0 %>
			<% while index < @user_ids.size do %>
				<% p index %>
				<% friend_id = @user_ids[index] %>
				<% status = nil %>
				<% if Friendship.exists?(user_id: current_user.id, friend_id: friend_id) %>
					<% status = Friendship.find_by_user_id_and_friend_id(current_user.id, friend_id).state %>
				<% end %>
				<%= render 'partials/user_info', user: User.find(@user_ids[index]), friend_status: status %>
				<% index += 2 %>
			<% end %>
		</div>
		<div id = "userCol2" class = "col-xs-6" style = "height: 100%;">
			<% index = 1 %>
			<% while index < @user_ids.size do %>
				<% p index %>
				<% friend_id = @user_ids[index] %>
				<% status = nil %>
				<% if Friendship.exists?(user_id: current_user.id, friend_id: friend_id) %>
					<% status = Friendship.find_by_user_id_and_friend_id(current_user.id, friend_id).state %>
				<% end %>
				<%= render 'partials/user_info', user: User.find(@user_ids[index]), friend_status: status %>
				<% index += 2 %>
			<% end %>
		</div>
	</div>
</div>