// Place all the styles related to the Friendships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Sanchez;
}
.userContainer {
	background-color: white;
	border-radius: 5px;
	margin-top: 10px;
	padding: 5px;
	height: 115px;
}