/*@font-face { font-family: Sanchez Regular; src: url('fonts/Sanchezregular.otf'); } */
body {
	font-family: Sanchez Regular;
}

.yellow {
	color: #ffffff;
	background-color: #F69C1E;
	*background-color: #F69C1E;
	background-image: -moz-linear-gradient(top, #FEC12F, #F69C1E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FEC12F), to(#F69C1E));
	background-image: -webkit-linear-gradient(top, #FEC12F, #F69C1E);
	background-image: -o-linear-gradient(top, #FEC12F, #F69C1E);
	background-image: linear-gradient(to bottom, #FEC12F, #F69C1E);
	background-repeat: repeat-x;
	border-color: #F69C1E #F69C1E #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffFEC12F', endColorstr='#ffF69C1E', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border-top-color: #FEC12F;
	border-bottom-color: #F69C1E;
}

.yellow-dark {
	color: #ffffff;
  background-color: #F69C1E;
  *background-color: #F69C1E;
  background-image: -moz-linear-gradient(top, #F69C1E, #DD6900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F69C1E), to(#DD6900));
  background-image: -webkit-linear-gradient(top, #F69C1E, #DD6900);
  background-image: -o-linear-gradient(top, #F69C1E, #DD6900);
  background-image: linear-gradient(to bottom, #F69C1E, #DD6900);
  background-repeat: repeat-x;
  border-color: #F69C1E #DD6900 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffF69C1E', endColorstr='#ffDD6900', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

html { height: 100% }
	body { height: 100%; margin: 0; padding: 0; font-family: Roboto, arial; }
		.controls {
			margin-top: 16px;
			border: 1px solid transparent;
			border-radius: 5px 5px 5px 5px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			height: 32px;
			outline: none;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}
		.controls .last { border-radius: 0 5px 5px 0; }
		#buttonContainer { box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3); }
		.btnControls {
			color: white;
			margin-left: 0px;
			margin-right: -3px;
			min-width: 50px;
			border-top-color: #FEC12F;
			border-bottom-color: #F69C1E;
			border-radius: 0;
			margin-top: -1px;
			margin-left: -1px;
			padding: 1px 6px;
		}
		.btnControls:hover,
		.btnControls:focus,
		.btnControls:active,
		.btnControls.active,
		.btnControls.disabled,
		.btnControls[disabled] {
		  color: white;
		  background-color: #F69C1E;
		  *background-color: #F69C1E;
		}
		#input {
			width: -moz-calc(100% - 78px - 144px - 91px - 50px);
			width: -webkit-calc(100% - 78px - 144px - 91px - 50px);
			width: -o-calc(100% - 78px - 144px - 91px - 50px);
			width: calc(100% - 78px - 144px - 91px - 50px);
			max-width: 400px;
			border-radius: 5px 0 0 5px;
			background-color: #fff;
			padding: 0 11px 0 13px;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 300;
			text-overflow: ellipsis;
		}
    #addPointBtn { 
     	box-shadow: none; 
     	height: 32px; 
	}
    #pathCreator { 
    	box-shadow: none; 
    	height: 32px; 
    }
    .mainElement {
    	/* Firefox */
		height: -moz-calc(100% - 60px);
		/* WebKit */
		height: -webkit-calc(100% - 60px);
		/* Opera */
		height: -o-calc(100% - 60px);
		/* Standard */
		height: calc(100% - 60px);
		/*margin-top: 60px;*/
    }
		#map { 
			width: -moz-calc(100% - 381px);
			width: -webkit-calc(100% - 381px);
			width: -o-calc(100% - 381px);
			width: calc(100% - 381px); 
			display: inline-block; 
			float: left; 
			box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
		}
		#locList { 
			color: #333333; 
			width: 381px; 
			display: inline-block; 
			float: left;
			background-color: rgb(230, 225, 215);
		}
			.btnContainer {
				padding: 10px;
			}
			#orderBtnDropdown:hover,
			#orderBtnDropdown:focus,
			#orderBtnDropdown:active,
			#orderBtnDropdown.active,
			#orderBtnDropdown.disabled,
			#orderBtnDropdown[disabled] {
			  color: white;
			  background-color: #F69C1E;
			  *background-color: #F69C1E;
			}
			#addPointBtn:active {
				background-color: #F69C1E;
			}
			#routeListContainer {
				position: relative;
				padding: 10px;
				padding-bottom: 0;

				width: 100%;

				height: -moz-calc(100% - 70px - 50px - 20px - 36px - 47px - 32px);
				height: -webkit-calc(100% - 70px - 50px - 20px - 36px - 47px - 32px);
				height: -o-calc(100% - 70px - 50px - 20px - 36px - 47px - 32px);
				height: calc(100% - 70px - 50px - 20px - 36px - 47px - 32px);
			}
				.routeEntry {
					height: 45px;
					width: 340px;
					position: absolute;
				}
				.entryLetter {
					width: 32px;
					height: 32px;
					border-radius: 16px;
					border: 1px solid black;
					float: left;
					text-align: center;
					font-size: 13pt;
					font-family: Roboto, Sanchez, serif;
				}
				.orgEntryLetter {
					background-color: #2BA63A;
					*background-color: #2BA63A;
					background-image: -moz-linear-gradient(top, #62B747, #2BA63A);
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62B747), to(#2BA63A));
					background-image: -webkit-linear-gradient(top, #62B747, #2BA63A);
					background-image: -o-linear-gradient(top, #62B747, #2BA63A);
					background-image: linear-gradient(to bottom, #62B747, #2BA63A);
					background-repeat: repeat-x;
					border-color: #2BA63A #2BA63A #000000;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62B747', endColorstr='#ffF69C1E', GradientType=0);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
				}
				.wptsEntryLetter {
					/*for blue*/

					/*background-color: #2b2fa5;
					*background-color: #2b2fa5;
					background-image: -moz-linear-gradient(top, #5f66f4, #2b2fa5);
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f66f4), to(#2b2fa5));
					background-image: -webkit-linear-gradient(top, #5f66f4, #2b2fa5);
					background-image: -o-linear-gradient(top, #5f66f4, #2b2fa5);
					background-image: linear-gradient(to bottom, #5f66f4, #2b2fa5);
					background-repeat: repeat-x;
					border-color: #2b2fa5 #2b2fa5 #000000;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f66f4', endColorstr='#ffF69C1E', GradientType=0);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);*/

					/* for green */

					background-color: #2BA63A;
					*background-color: #2BA63A;
					background-image: -moz-linear-gradient(top, #62B747, #2BA63A);
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62B747), to(#2BA63A));
					background-image: -webkit-linear-gradient(top, #62B747, #2BA63A);
					background-image: -o-linear-gradient(top, #62B747, #2BA63A);
					background-image: linear-gradient(to bottom, #62B747, #2BA63A);
					background-repeat: repeat-x;
					border-color: #2BA63A #2BA63A #000000;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62B747', endColorstr='#ffF69C1E', GradientType=0);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
				}
				.destEntryLetter {
					background-color: #E6463D;
					*background-color: #E6463D;
					background-image: -moz-linear-gradient(top, #f76c60, #E6463D);
					background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f76c60), to(#E6463D));
					background-image: -webkit-linear-gradient(top, #f76c60, #E6463D);
					background-image: -o-linear-gradient(top, #f76c60, #E6463D);
					background-image: linear-gradient(to bottom, #f76c60, #E6463D);
					background-repeat: repeat-x;
					border-color: #E6463D #E6463D #000000;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff76c60', endColorstr='#ffF69C1E', GradientType=0);
					filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
				}
				.routeInput {
					font-family: Roboto;

					float: left;

					width: -moz-calc(100% - 34px - 5px - 12px - 5px);
					width: -webkit-calc(100% - 34px - 5px - 12px - 5px);
					width: -o-calc(100% - 34px - 5px - 12px - 5px);
					width: calc(100% - 34px - 5px - 12px - 5px);

					padding: 0 11px 0 13px;
					box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
					border: 1px solid #ccc;
					margin: 0 0 0 5px;
				}
				.routeInput:hover,
				.routeInput:focus {
					box-shadow: 0 2px 6px rgba(251, 159, 31, 0.6);
					border: 1px solid rgb(251, 159, 31);
				}

/*bootstrap overrides*/
.btn {
	text-shadow: none;
	outline: none;
}
.btn:active {
	background-color: #e6e6e6;
  	*background-color: #d9d9d9;
}
